<!DOCTYPE html>
<html ng-app="sputifyApp">

<head>
    <title>sputify app</title>
</head>

<body>
    <h1>sputify app</h1>
    <div ng-controller="SputifyController as sputifyCtrl">
        <input type="text" ng-model="sputifyCtrl.query">
        <button ng-click="sputifyCtrl.searchArtists()">search</button>
        <ul>
            <li ng-repeat="artist in sputifyCtrl.artists"><a href="" ng-click="sputifyCtrl.showAlbums(artist.id)">{{ artist.name }}</a></li>
        </ul>        <ul>
            <li ng-repeat="album in sputifyCtrl.albums"><a href="" ng-click="sputifyCtrl.showSongs(album.id)">{{ album.title }}</a></li>
        </ul>
        <ul>
            <li ng-repeat="song in sputifyCtrl.songs"><a href="" ng-click="sputifyCtrl.showTrack(song.id)">{{ song.title }}</a></li>
        </ul>
    
            <p ng-show="sputifyCtrl.song"> {{ sputifyCtrl.song.track }} </p>
        
      
    </div>
    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    -->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('sputifyApp', []);
    // Això per a veure artistes
    app.controller('SputifyController', function(sputifyService) {
        var self = this;

        self.searchArtists = function() {
            self.albums = undefined;

            sputifyService.searchArtists(self.query, function(artists) {
                self.artists = artists;
            });
        };

        self.showAlbums = function(artistId) {
            sputifyService.searchAlbums(artistId, function(albums) {
                self.albums = albums;
            });
        };

        self.showSongs = function(albumId) {
            sputifyService.searchSongs(albumId, function(songs) {
                self.songs = songs;
            })
        };


        self.showLink = function(id) {
            self.songs.forEach(function(song){
                if (song.id === id){
                    self.song = song;
                }

        })

            
          };  
        


    });

    app.service('sputifyService', function($http) {
        var self = this;
// filtre per artistes
       self.showTrack = function(songId){
        for( var i=0; i < self.songs.length; i++){
            var song = self.songs[i];
            if(songId === song.id){
                self.song = song;
            }
        }
    };
});
       

        self.searchArtists = function(query, callback) {
            if (!self.artists) {
                var url = 'artists.json';
 
                $http.get(url)
                    .then(function(response) {
                        self.artists = response.data;

                        callback(filter(query));
                    });
            } else {
                callback(filter(query));
            }
        };

        self.searchAlbums = function(artistId, callback) {
            if (!self.albums) {
                var url = 'albums.json';

                $http.get(url)
                    .then(function(response) {
                        self.albums = response.data;

                        callback(self.albums[artistId]);
                    });
            } else {
                callback(self.albums[artistId]);
            }
        };

        self.searchSongs = function(albumId, callback) {
           // console.log('search songs from album ' + albumId);
            // TODO implementar la busqueda de canciones por album
//Això es per a mostrar les cançons dels artistes
             if (!self.tracks) {
                var url = 'songs.json';

                $http.get(url)
                    .then(function(response) {
                        self.tracks = response.data;

                        callback(self.tracks[albumId]);
                    });
            } else {
                callback(self.albums[albumId]);
            }
        };

//Esto es para mostrar la url
        self.searchUrl = function(urlId, callback) {
           
             if (!self.url) {
                var url = 'songs.json';

                $http.get(url)
                    .then(function(response) {
                        self.url = response.data;

                        callback(self.url[urlId]);
                    });
            } else {
                callback(self.url[urlId]);
            }
        };


        //Això per a mostrar les url
         self.searchUrl = function(albumId, callback) {
           // console.log('search songs from album ' + albumId);
            // TODO implementar la busqueda de canciones por album
//Això es per a mostrar les cançons dels artistes
             if (!self.tracks) {
                var url = 'songs.json';

                $http.get(url)
                    .then(function(response) {
                        self.tracks = response.data;

                        callback(self.tracks[albumId]);
                    });
            } else {
                callback(self.albums[albumId]);
            }
        };


        self.artist = function(id, callback) {
            for (var i = 0; i < self.artists.length; i++) {
                var artist = self.artists[i];
                if (artist.id === id) {
                    callback(artist);
                    break;
                }
            }
        };
    });


    //Aquí acaba per artist
    </script>
</body>

</html>