doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title To do's list
    include includes/styles
  body
    .container
      include includes/header
      block content
      include includes/footer
    include includes/scripts




