doctype html
html (lang="es")
	head
		meta(charset:UTF-8)
		title Simple Page
		link rel= 'style-sheet', href='/css/styles.css'
	body
		h1 Hello World
		#content
			.blockP
				input#bar.foo1.foo2
		//Pul#books

